body{
    background-color: #FFB884;
    color: black;
    margin: 1%;
    margin-bottom: 1%;
  }

.titlehome{
    background-color: whitesmoke;
    border: 5px solid black;
    text-align: center
    ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li a {
    display: block;
    width: 55px;
  }

.infocookie{
    float: left;
    width: 60%;
    text-align: center;
    background-color: #ffc69e;
    border: 2px solid black;
    border-radius: 5%;
    padding: 1%;
}

.contentcookie{
  float: right;
  width: 40%;
}

img {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 66px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(156, 76, 0);
}